In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")
import os
import re
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [2]:
for dirname, _, filenames in os.walk('cat-in-the-dat-ii'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

cat-in-the-dat-ii\sample_submission.csv
cat-in-the-dat-ii\test.csv
cat-in-the-dat-ii\train.csv

In [3]:
df_train=pd.read_csv(r"cat-in-the-dat-ii\train.csv")
df_test=pd.read_csv(r"cat-in-the-dat-ii\test.csv")
df_train.head()

,id,bin_0,bin_1,bin_2,bin_3,bin_4,nom_0,nom_1,nom_2,nom_3,...,nom_9,ord_0,ord_1,ord_2,ord_3,ord_4,ord_5,day,month,target
0,0,0.0,0.0,0.0,F,N,Red,Trapezoid,Hamster,Russia,...,02e7c8990,3.0,Contributor,Hot,c,U,Pw,6.0,3.0,0
1,1,1.0,1.0,0.0,F,Y,Red,Star,Axolotl,NaN,...,f37df64af,3.0,Grandmaster,Warm,e,X,pE,7.0,7.0,0
2,2,0.0,1.0,0.0,F,N,Red,NaN,Hamster,Canada,...,NaN,3.0,NaN,Freezing,n,P,eN,5.0,9.0,0
3,3,NaN,0.0,0.0,F,N,Red,Circle,Hamster,Finland,...,f9d456e57,1.0,Novice,Lava Hot,a,C,NaN,3.0,3.0,0
4,4,0.0,NaN,0.0,T,N,Red,Triangle,Hamster,Costa Rica,...,c5361037c,3.0,Grandmaster,Cold,h,C,OZ,5.0,12.0,0

In [4]:
df_test.isna().sum()/len(df_test) *100

id       0.00000
bin_0    2.97525
bin_1    3.00950
bin_2    2.99300
bin_3    2.98775
bin_4    2.98775
nom_0    3.01550
nom_1    2.98675
nom_2    3.04475
nom_3    3.04400
nom_4    2.99825
nom_5    2.97800
nom_6    3.00300
nom_7    3.00075
nom_8    2.98900
nom_9    3.01500
ord_0    2.97325
ord_1    3.04175
ord_2    3.02625
ord_3    3.01325
ord_4    2.98325
ord_5    3.01175
day      3.00625
month    2.99600
dtype: float64

In [5]:
df_train.shape

(600000, 25)

In [6]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 600000 entries, 0 to 599999
Data columns (total 25 columns):
id        600000 non-null int64
bin_0     582106 non-null float64
bin_1     581997 non-null float64
bin_2     582070 non-null float64
bin_3     581986 non-null object
bin_4     581953 non-null object
nom_0     581748 non-null object
nom_1     581844 non-null object
nom_2     581965 non-null object
nom_3     581879 non-null object
nom_4     581965 non-null object
nom_5     582222 non-null object
nom_6     581869 non-null object
nom_7     581997 non-null object
nom_8     582245 non-null object
nom_9     581927 non-null object
ord_0     581712 non-null float64
ord_1     581959 non-null object
ord_2     581925 non-null object
ord_3     582084 non-null object
ord_4     582070 non-null object
ord_5     582287 non-null object
day       582048 non-null float64
month     582012 non-null float64
target    600000 non-null int64
dtypes: float64(6), int64(2), object(17)
memory usage: 114.4+ MB

# missing data

In [7]:
# bahut time consuming hia 
#cols_with_missing_train_data = [col for col in df_train.columns if df_train[col].isnull().any()]
#print('train cols with missing data:', cols_with_missing_train_data)

In [8]:
'''  bahut time consuming hia 
from sklearn.impute import SimpleImputer
imp_cat = SimpleImputer(strategy='most_frequent')
df_train[cols_with_missing_train_data] = imp_cat.fit_transform(df_train[cols_with_missing_train_data])
df_train.isna().any()
'''

"  bahut time consuming hia \nfrom sklearn.impute import SimpleImputer\nimp_cat = SimpleImputer(strategy='most_frequent')\ndf_train[cols_with_missing_train_data] = imp_cat.fit_transform(df_train[cols_with_missing_train_data])\ndf_train.isna().any()\n"

In [9]:

df_train['bin_0']=df_train['bin_0'].fillna(df_train['bin_0'].mode()[0])
df_train['bin_1']=df_train['bin_1'].fillna(df_train['bin_1'].mode()[0])
df_train['bin_2']=df_train['bin_2'].fillna(df_train['bin_2'].mode()[0])
df_train['bin_3']=df_train['bin_3'].fillna(df_train['bin_3'].mode()[0])
df_train['bin_4']=df_train['bin_4'].fillna(df_train['bin_4'].mode()[0])

In [10]:
df_test['bin_0']=df_test['bin_0'].fillna(df_test['bin_0'].mode()[0])
df_test['bin_1']=df_test['bin_1'].fillna(df_test['bin_1'].mode()[0])
df_test['bin_2']=df_test['bin_2'].fillna(df_test['bin_2'].mode()[0])
df_test['bin_3']=df_test['bin_3'].fillna(df_test['bin_3'].mode()[0])
df_test['bin_4']=df_test['bin_4'].fillna(df_test['bin_4'].mode()[0])

In [11]:

df_train['nom_0']=df_train['nom_0'].fillna(df_train['nom_0'].mode()[0])
df_train['nom_1']=df_train['nom_1'].fillna(df_train['nom_1'].mode()[0])
df_train['nom_2']=df_train['nom_2'].fillna(df_train['nom_2'].mode()[0])
df_train['nom_3']=df_train['nom_3'].fillna(df_train['nom_3'].mode()[0])
df_train['nom_4']=df_train['nom_4'].fillna(df_train['nom_4'].mode()[0])
df_train['nom_5']=df_train['nom_5'].fillna(df_train['nom_5'].mode()[0])
df_train['nom_6']=df_train['nom_6'].fillna(df_train['nom_6'].mode()[0])
df_train['nom_7']=df_train['nom_7'].fillna(df_train['nom_7'].mode()[0])
df_train['nom_8']=df_train['nom_8'].fillna(df_train['nom_8'].mode()[0])
df_train['nom_9']=df_train['nom_9'].fillna(df_train['nom_9'].mode()[0])

In [12]:
df_test['nom_0']=df_test['nom_0'].fillna(df_test['nom_0'].mode()[0])
df_test['nom_1']=df_test['nom_1'].fillna(df_test['nom_1'].mode()[0])
df_test['nom_2']=df_test['nom_2'].fillna(df_test['nom_2'].mode()[0])
df_test['nom_3']=df_test['nom_3'].fillna(df_test['nom_3'].mode()[0])
df_test['nom_4']=df_test['nom_4'].fillna(df_test['nom_4'].mode()[0])
df_test['nom_5']=df_test['nom_5'].fillna(df_test['nom_5'].mode()[0])
df_test['nom_6']=df_test['nom_6'].fillna(df_test['nom_6'].mode()[0])
df_test['nom_7']=df_test['nom_7'].fillna(df_test['nom_7'].mode()[0])
df_test['nom_8']=df_test['nom_8'].fillna(df_test['nom_8'].mode()[0])
df_test['nom_9']=df_test['nom_9'].fillna(df_test['nom_9'].mode()[0])

In [13]:

df_train['ord_0']=df_train['ord_0'].fillna(df_train['ord_0'].mode()[0])
df_train['ord_1']=df_train['ord_1'].fillna(df_train['ord_1'].mode()[0])
df_train['ord_2']=df_train['ord_2'].fillna(df_train['ord_2'].mode()[0])
df_train['ord_3']=df_train['ord_3'].fillna(df_train['ord_3'].mode()[0])
df_train['ord_4']=df_train['ord_4'].fillna(df_train['ord_4'].mode()[0])
df_train['ord_5']=df_train['ord_5'].fillna(df_train['ord_5'].mode()[0])

In [14]:
df_test['ord_0']=df_test['ord_0'].fillna(df_test['ord_0'].mode()[0])
df_test['ord_1']=df_test['ord_1'].fillna(df_test['ord_1'].mode()[0])
df_test['ord_2']=df_test['ord_2'].fillna(df_test['ord_2'].mode()[0])
df_test['ord_3']=df_test['ord_3'].fillna(df_test['ord_3'].mode()[0])
df_test['ord_4']=df_test['ord_4'].fillna(df_test['ord_4'].mode()[0])
df_test['ord_5']=df_test['ord_5'].fillna(df_test['ord_5'].mode()[0])

In [15]:
df_train['day']=df_train['day'].fillna(df_train['day'].mode()[0])
df_train['month']=df_train['month'].fillna(df_train['month'].mode()[0])

In [16]:
df_test['day']=df_test['day'].fillna(df_test['day'].mode()[0])
df_test['month']=df_test['month'].fillna(df_test['month'].mode()[0])

In [17]:
df_test.head()

,id,bin_0,bin_1,bin_2,bin_3,bin_4,nom_0,nom_1,nom_2,nom_3,...,nom_8,nom_9,ord_0,ord_1,ord_2,ord_3,ord_4,ord_5,day,month
0,600000,0.0,0.0,0.0,F,Y,Blue,Polygon,Axolotl,Finland,...,ca9ad1d4b,fced9e114,3.0,Novice,Boiling Hot,f,U,oU,3.0,9.0
1,600001,0.0,0.0,0.0,F,Y,Red,Circle,Lion,Russia,...,060a21580,7ca8775da,1.0,Novice,Cold,n,N,Fl,2.0,8.0
2,600002,0.0,0.0,0.0,F,Y,Blue,Circle,Axolotl,Russia,...,165e81a00,5940334c9,1.0,Expert,Warm,i,N,DN,2.0,6.0
3,600003,1.0,0.0,0.0,F,N,Red,Polygon,Axolotl,Costa Rica,...,77d41330d,6fbdeefc8,1.0,Expert,Hot,m,B,AG,1.0,6.0
4,600004,0.0,0.0,1.0,F,Y,Red,Circle,Hamster,Finland,...,2218d9dfe,2a27c8fde,1.0,Contributor,Lava Hot,o,J,DT,3.0,3.0

In [18]:
df_train.target.value_counts()/len(df_train.target)

0    0.812795
1    0.187205
Name: target, dtype: float64

In [19]:
df_train.corr()

,id,bin_0,bin_1,bin_2,ord_0,day,month,target
id,1.000000,0.000283,0.001004,0.001023,0.000236,0.001295,0.000036,-0.002376
bin_0,0.000283,1.000000,-0.002451,0.002142,-0.002257,-0.001064,0.000282,-0.059367
bin_1,0.001004,-0.002451,1.000000,0.001613,-0.000995,0.000064,0.003058,-0.017931
bin_2,0.001023,0.002142,0.001613,1.000000,-0.000171,-0.000590,-0.000195,0.065094
ord_0,0.000236,-0.002257,-0.000995,-0.000171,1.000000,-0.000070,-0.002904,0.103220
day,0.001295,-0.001064,0.000064,-0.000590,-0.000070,1.000000,-0.000049,0.001884
month,0.000036,0.000282,0.003058,-0.000195,-0.002904,-0.000049,1.000000,0.092977
target,-0.002376,-0.059367,-0.017931,0.065094,0.103220,0.001884,0.092977,1.000000

In [20]:
y=df_train['target']
X=df_train.drop(['target'],axis=1)

# Label ENCODING

In [21]:
from sklearn.preprocessing import LabelEncoder
train=pd.DataFrame()
label=LabelEncoder()
for c in  X.columns:
    if(X[c].dtype=='object'):
        train[c]=label.fit_transform(X[c])
    else:
        train[c]=X[c]
        
train.head(3)

,id,bin_0,bin_1,bin_2,bin_3,bin_4,nom_0,nom_1,nom_2,nom_3,...,nom_8,nom_9,ord_0,ord_1,ord_2,ord_3,ord_4,ord_5,day,month
0,0,0.0,0.0,0.0,0,0,2,4,3,5,...,1,27,3.0,0,3,2,20,56,6.0,3.0
1,1,1.0,1.0,0.0,0,1,2,3,0,4,...,69,2112,3.0,2,5,4,23,150,7.0,7.0
2,2,0.0,1.0,0.0,0,0,2,5,3,0,...,102,1270,3.0,4,2,13,15,105,5.0,9.0

In [22]:
test=pd.DataFrame()
lab=LabelEncoder()
for d in  df_test.columns:
    if(df_test[d].dtype=='object'):
        test[d]=lab.fit_transform(df_test[d])
    else:
        test[d]=df_test[d]
        
test.head(3)

,id,bin_0,bin_1,bin_2,bin_3,bin_4,nom_0,nom_1,nom_2,nom_3,...,nom_8,nom_9,ord_0,ord_1,ord_2,ord_3,ord_4,ord_5,day,month
0,600000,0.0,0.0,0.0,0,1,0,1,0,3,...,174,2194,3.0,4,0,5,20,146,3.0,9.0
1,600001,0.0,0.0,0.0,0,1,2,0,4,5,...,4,1105,1.0,4,1,13,13,21,2.0,8.0
2,600002,0.0,0.0,0.0,0,1,0,0,0,5,...,16,810,1.0,1,5,8,13,12,2.0,6.0

# OneHotEncoder

In [23]:
3 
'''
from sklearn.preprocessing import OneHotEncoder

one=OneHotEncoder()

one.fit(X)
train1=one.transform(X)
train1.shape   #train1.head() kaam nai karta
'''

'\nfrom sklearn.preprocessing import OneHotEncoder\n\none=OneHotEncoder()\n\none.fit(X)\ntrain1=one.transform(X)\ntrain1.shape   #train1.head() kaam nai karta\n'

# Feature hashing (a.k.a the hashing trick)

In [24]:
'''
from sklearn.feature_extraction import FeatureHasher

X_train_hash=X.copy()
for c in X.columns:
    X_train_hash[c]=X[c].astype('str') 
    
hashing=FeatureHasher(input_type='string')
train2=hashing.transform(X_train_hash.values)

train2.shape #train1.head() kaam nai karta
'''

"\nfrom sklearn.feature_extraction import FeatureHasher\n\nX_train_hash=X.copy()\nfor c in X.columns:\n    X_train_hash[c]=X[c].astype('str') \n    \nhashing=FeatureHasher(input_type='string')\ntrain2=hashing.transform(X_train_hash.values)\n\ntrain2.shape #train1.head() kaam nai karta\n"

# Encoding categories with dataset statistics

In [25]:
'''
X_train_stat=X.copy()
for c in X_train_stat.columns:
    if(X_train_stat[c].dtype=='object'):
        X_train_stat[c]=X_train_stat[c].astype('category')
        counts=X_train_stat[c].value_counts()
        counts=counts.sort_index()
        counts=counts.fillna(0)
        counts += np.random.rand(len(counts))/1000
        X_train_stat[c].cat.categories=counts
        
X_train_stat.head()
'''

"\nX_train_stat=X.copy()\nfor c in X_train_stat.columns:\n    if(X_train_stat[c].dtype=='object'):\n        X_train_stat[c]=X_train_stat[c].astype('category')\n        counts=X_train_stat[c].value_counts()\n        counts=counts.sort_index()\n        counts=counts.fillna(0)\n        counts += np.random.rand(len(counts))/1000\n        X_train_stat[c].cat.categories=counts\n        \nX_train_stat.head()\n"

# Encoding cyclic features

In [26]:
'''
X_train_cyclic=X.copy()
columns=['day','month']
for col in columns:
    X_train_cyclic[col+'_sin']=np.sin((2*np.pi*X_train_cyclic[col])/max(X_train_cyclic[col]))
    X_train_cyclic[col+'_cos']=np.cos((2*np.pi*X_train_cyclic[col])/max(X_train_cyclic[col]))
X_train_cyclic=X_train_cyclic.drop(columns,axis=1)

X_train_cyclic[['day_sin','day_cos']].head(3)
'''

"\nX_train_cyclic=X.copy()\ncolumns=['day','month']\nfor col in columns:\n    X_train_cyclic[col+'_sin']=np.sin((2*np.pi*X_train_cyclic[col])/max(X_train_cyclic[col]))\n    X_train_cyclic[col+'_cos']=np.cos((2*np.pi*X_train_cyclic[col])/max(X_train_cyclic[col]))\nX_train_cyclic=X_train_cyclic.drop(columns,axis=1)\n\nX_train_cyclic[['day_sin','day_cos']].head(3)\n"

In [27]:
'''
one=OneHotEncoder()

one.fit(X_train_cyclic)
train3=one.transform(X_train_cyclic)
train3.shape
'''

'\none=OneHotEncoder()\n\none.fit(X_train_cyclic)\ntrain3=one.transform(X_train_cyclic)\ntrain3.shape\n'

In [28]:
'''
df_train['bin_3']=df_train['bin_3'].map({'F':0,'T':1})
df_train['bin_4']=df_train['bin_4'].map({'N':0,'Y':1})
#df_train['nom_0']=df_train['nom_0'].map({'Red':0,'Blue':1,'Green':2})
#df_train['nom_1']=df_train['nom_1'].map({'Triangle':0,'Polygon':1,'Trapezoid':2,'Circle':3,'Square':4,'Star':5})
#df_train['nom_2']=df_train['nom_2'].map({'Hamster':0,'Axolotl':1,'Lion':2,'Dog':3,'Cat':4,'Snake':5})
#df_train['nom_3']=df_train['nom_3'].map({'India':0,'Costa Rica':1,'Russia':2,'Finland':3,'Canada':4,'China':5})
#df_train['nom_4']=df_train['nom_4'].map({'Theremin':0,'Bassoon':1,'Oboe':2,'Piano':3})
df_train['ord_1']=df_train['ord_1'].map({'Novice':0,'Expert':1,'Contributor':2,'Grandmaster':3,'Master':4})
df_train['ord_2']=df_train['ord_2'].map({'Freezing':0,'Warm':1,'Cold':2,'Boiling Hot':3,'Hot':4,'Lava Hot':5})

df_train.ord_3.replace(to_replace = ['a', 'b', 'c', 'd', 'e', 'f', 'g','h', 'i', 'j', 'k', 'l', 'm', 'n', 'o'],
                         value = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14], inplace = True)

df_train.ord_4.replace(to_replace = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I','J', 'K', 'L', 'M', 'N', 'O', 
                                     'P', 'Q', 'R','S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z'],
                         value = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 
                                  22, 23, 24, 25], inplace = True)


high_card = ['nom_0','nom_1','nom_2','nom_3','nom_4','nom_5', 'nom_6', 'nom_7', 'nom_8', 'nom_9','ord_5']
for col in high_card:
    enc_nom = (df_train.groupby(col).size()) / len(df_train)
    df_train[f'{col}'] = df_train[col].apply( lambda x: hash(str(x)) % 5000 )
'''

"\ndf_train['bin_3']=df_train['bin_3'].map({'F':0,'T':1})\ndf_train['bin_4']=df_train['bin_4'].map({'N':0,'Y':1})\n#df_train['nom_0']=df_train['nom_0'].map({'Red':0,'Blue':1,'Green':2})\n#df_train['nom_1']=df_train['nom_1'].map({'Triangle':0,'Polygon':1,'Trapezoid':2,'Circle':3,'Square':4,'Star':5})\n#df_train['nom_2']=df_train['nom_2'].map({'Hamster':0,'Axolotl':1,'Lion':2,'Dog':3,'Cat':4,'Snake':5})\n#df_train['nom_3']=df_train['nom_3'].map({'India':0,'Costa Rica':1,'Russia':2,'Finland':3,'Canada':4,'China':5})\n#df_train['nom_4']=df_train['nom_4'].map({'Theremin':0,'Bassoon':1,'Oboe':2,'Piano':3})\ndf_train['ord_1']=df_train['ord_1'].map({'Novice':0,'Expert':1,'Contributor':2,'Grandmaster':3,'Master':4})\ndf_train['ord_2']=df_train['ord_2'].map({'Freezing':0,'Warm':1,'Cold':2,'Boiling Hot':3,'Hot':4,'Lava Hot':5})\n\ndf_train.ord_3.replace(to_replace = ['a', 'b', 'c', 'd', 'e', 'f', 'g','h', 'i', 'j', 'k', 'l', 'm', 'n', 'o'],\n                         value = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14], inplace = True)\n\ndf_train.ord_4.replace(to_replace = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I','J', 'K', 'L', 'M', 'N', 'O', \n                                     'P', 'Q', 'R','S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z'],\n                         value = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, \n                                  22, 23, 24, 25], inplace = True)\n\n\nhigh_card = ['nom_0','nom_1','nom_2','nom_3','nom_4','nom_5', 'nom_6', 'nom_7', 'nom_8', 'nom_9','ord_5']\nfor col in high_card:\n    enc_nom = (df_train.groupby(col).size()) / len(df_train)\n    df_train[f'{col}'] = df_train[col].apply( lambda x: hash(str(x)) % 5000 )\n"

In [29]:
scaler=StandardScaler()
scaler.fit_transform(train)

array([[-1.73204792, -0.31361751, -0.46846574, ..., -0.58938135,
         0.9541995 , -1.00062317],
       [-1.73204215,  3.18859745,  2.13462784, ...,  1.09602998,
         1.45104212,  0.16964671],
       [-1.73203637, -0.31361751,  2.13462784, ...,  0.28918413,
         0.45735688,  0.75478165],
       ...,
       [ 1.73203637, -0.31361751, -0.46846574, ..., -0.84040006,
         1.45104212, -0.41548823],
       [ 1.73204215,  3.18859745,  2.13462784, ..., -1.27071784,
        -1.5300136 , -0.41548823],
       [ 1.73204792, -0.31361751, -0.46846574, ...,  1.40083841,
         0.45735688,  0.46221418]])

In [30]:
scaler_test=StandardScaler()
scaler_test1=scaler_test.fit_transform(test)

In [31]:
X_train,X_test,y_train,y_test=train_test_split(train,y,test_size=.2,random_state=42)

In [32]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import accuracy_score,confusion_matrix,roc_auc_score
import xgboost as xg

In [33]:
rand=RandomForestClassifier()
rand.fit(X_train,y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=None, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=10,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [34]:
pred_rf=rand.predict(X_test)

In [35]:
accuracy_score(y_test,pred_rf)

0.8089916666666667

In [36]:
preds_val = rand.predict_proba(X_test)[:,1]

In [37]:
score = roc_auc_score(y_test ,preds_val)
print("score: %f" % (score))

score: 0.655714

In [38]:
confusion_matrix(y_test,pred_rf)

array([[95250,  2390],
       [20531,  1829]], dtype=int64)

In [49]:
predictions1 = rand.predict(test)
predictions1

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [50]:
submission['target'] = predictions1
submission.head()

        target
id
600000       0
600001       0
600002       0
600003       0
600004       0

In [39]:
model = xg.XGBClassifier(objective ='binary:logistic',colsample_bytree = 0, learning_rate = 0.2,max_depth = 15,
                      n_estimators = 400,scale_pos_weight = 2,random_state = 2020,subsample = 0.8)

In [40]:
model.fit(X_train, y_train, eval_set=[(X_test, y_test)], verbose=False)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=0, gamma=0,
              learning_rate=0.2, max_delta_step=0, max_depth=15,
              min_child_weight=1, missing=None, n_estimators=400, n_jobs=1,
              nthread=None, objective='binary:logistic', random_state=2020,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=2, seed=None,
              silent=None, subsample=0.8, verbosity=1)

In [41]:
preds_val = model.predict_proba(X_test)[:,1]

In [42]:
score = roc_auc_score(y_test ,preds_val)
print("score: %f" % (score))

score: 0.782866

In [43]:
predictions = model.predict(test)
predictions

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [44]:
#y_test = model.predict_proba(X_test)[:,1]

In [52]:
submission = pd.read_csv('cat-in-the-dat-ii\sample_submission.csv', index_col='id')
submission['target'] = predictions
submission.head()
submission.to_csv('Categorical.csv')

In [46]:
'''
clfs = []
seed = 42

clfs.append(("LogReg", 
             Pipeline([("Scaler", StandardScaler()),
                       ("LogReg", LogisticRegression())])))

clfs.append(("XGBClassifier", XGBClassifier()))

# clfs.append(("KNN", 
#              Pipeline([("Scaler", StandardScaler()),
#                        ("KNN", KNeighborsClassifier(n_neighbors=5))])))

clfs.append(("DecisionTreeClassifier", DecisionTreeClassifier()))

clfs.append(("RandomForestClassifier", RandomForestClassifier(n_estimators=100)))

clfs.append(("GradientBoostingClassifier", GradientBoostingClassifier(n_estimators=100)))

clfs.append(("RidgeClassifier", 
             Pipeline([("Scaler", StandardScaler()),
                       ("RidgeClassifier", RidgeClassifier())])))

clfs.append(("BaggingClassifier",
             Pipeline([("Scaler", StandardScaler()),
                       ("BaggingClassifier", BaggingClassifier())])))

clfs.append(("ExtraTreesClassifier",ExtraTreesClassifier()))

#'neg_mean_absolute_error', 'neg_mean_squared_error','r2'
scoring = 'roc_auc'
n_folds = 7

results, names  = [], [] 

for name, model  in clfs:
    kfold = KFold(n_splits=n_folds, shuffle=False, random_state=seed)
    
    cv_results = cross_val_score(model, 
                                 X_train.values, y_train, 
                                 cv= kfold, scoring=scoring,
                                 n_jobs=-1)    
    names.append(name)
    results.append(cv_results)    
    msg = "%s: %f (+/- %f)" % (name, cv_results.mean(),  
                               cv_results.std())
    print(msg)
    
# boxplot algorithm comparison
fig = plt.figure(figsize=(15,6))
fig.suptitle('Classifier Algorithm Comparison', fontsize=22)
ax = fig.add_subplot(111)
sns.boxplot(x=names, y=results)
ax.set_xticklabels(names)
ax.set_xlabel("Algorithmn", fontsize=20) 
ax.set_ylabel("Accuracy of Models", fontsize=18)
ax.set_xticklabels(ax.get_xticklabels(),rotation=45)
'''

'\nclfs = []\nseed = 42\n\nclfs.append(("LogReg", \n             Pipeline([("Scaler", StandardScaler()),\n                       ("LogReg", LogisticRegression())])))\n\nclfs.append(("XGBClassifier", XGBClassifier()))\n\n# clfs.append(("KNN", \n#              Pipeline([("Scaler", StandardScaler()),\n#                        ("KNN", KNeighborsClassifier(n_neighbors=5))])))\n\nclfs.append(("DecisionTreeClassifier", DecisionTreeClassifier()))\n\nclfs.append(("RandomForestClassifier", RandomForestClassifier(n_estimators=100)))\n\nclfs.append(("GradientBoostingClassifier", GradientBoostingClassifier(n_estimators=100)))\n\nclfs.append(("RidgeClassifier", \n             Pipeline([("Scaler", StandardScaler()),\n                       ("RidgeClassifier", RidgeClassifier())])))\n\nclfs.append(("BaggingClassifier",\n             Pipeline([("Scaler", StandardScaler()),\n                       ("BaggingClassifier", BaggingClassifier())])))\n\nclfs.append(("ExtraTreesClassifier",ExtraTreesClassifier()))\n\n#\'neg_mean_absolute_error\', \'neg_mean_squared_error\',\'r2\'\nscoring = \'roc_auc\'\nn_folds = 7\n\nresults, names  = [], [] \n\nfor name, model  in clfs:\n    kfold = KFold(n_splits=n_folds, shuffle=False, random_state=seed)\n    \n    cv_results = cross_val_score(model, \n                                 X_train.values, y_train, \n                                 cv= kfold, scoring=scoring,\n                                 n_jobs=-1)    \n    names.append(name)\n    results.append(cv_results)    \n    msg = "%s: %f (+/- %f)" % (name, cv_results.mean(),  \n                               cv_results.std())\n    print(msg)\n    \n# boxplot algorithm comparison\nfig = plt.figure(figsize=(15,6))\nfig.suptitle(\'Classifier Algorithm Comparison\', fontsize=22)\nax = fig.add_subplot(111)\nsns.boxplot(x=names, y=results)\nax.set_xticklabels(names)\nax.set_xlabel("Algorithmn", fontsize=20) \nax.set_ylabel("Accuracy of Models", fontsize=18)\nax.set_xticklabels(ax.get_xticklabels(),rotation=45)\n'