In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
fitness_data=pd.read_csv(r"C:\Users\mukes\Downloads\Fitnessdata.csv")
fitness_data.head(2)

,Date,Activity Id,Type,Route Name,Distance (km),Duration,Average Pace,Average Speed (km/h),Calories Burned,Climb (m),Average Heart Rate (bpm),Friend's Tagged,Notes,GPX File
0,2018-11-11 14:05:12,c9627fed-14ac-47a2-bed3-2a2630c63c15,Running,NaN,10.44,58:40,5:37,10.68,774.0,130,159.0,NaN,NaN,2018-11-11-140512.gpx
1,2018-11-09 15:02:35,be65818d-a801-4847-a43b-2acdf4dc70e7,Running,NaN,12.84,1:14:12,5:47,10.39,954.0,168,159.0,NaN,NaN,2018-11-09-150235.gpx

In [3]:
fitness_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 508 entries, 0 to 507
Data columns (total 14 columns):
Date                        508 non-null object
Activity Id                 508 non-null object
Type                        508 non-null object
Route Name                  1 non-null object
Distance (km)               508 non-null float64
Duration                    508 non-null object
Average Pace                508 non-null object
Average Speed (km/h)        508 non-null float64
Calories Burned             508 non-null float64
Climb (m)                   508 non-null int64
Average Heart Rate (bpm)    294 non-null float64
Friend's Tagged             0 non-null float64
Notes                       231 non-null object
GPX File                    504 non-null object
dtypes: float64(5), int64(1), object(8)
memory usage: 55.6+ KB

In [4]:
cols_drop = ['Friend\'s Tagged','Route Name','GPX File','Activity Id','Calories Burned', 'Notes']
fitness_data.drop(cols_drop, axis=1,inplace=True)

In [5]:
print(fitness_data['Type'].value_counts())

Running    459
Cycling     29
Walking     18
Other        2
Name: Type, dtype: int64

In [6]:
fitness_data['Type']=fitness_data['Type'].str.replace("Other","Unicycling")

In [7]:
fitness_data.isnull().sum()

Date                          0
Type                          0
Distance (km)                 0
Duration                      0
Average Pace                  0
Average Speed (km/h)          0
Climb (m)                     0
Average Heart Rate (bpm)    214
dtype: int64

In [15]:
avg_run=fitness_data[fitness_data['Type']=='Running']['Average Heart Rate (bpm)'].mean()
avg_cycle=fitness_data[fitness_data['Type']=="Cycling"]['Average Heart Rate (bpm)'].mean()

In [21]:
fitness_run=fitness_data[fitness_data["Type"]=="Running"]
fitness_cycle=fitness_data[fitness_data["Type"]=="Cycling"]
fitness_walk=fitness_data[fitness_data["Type"]=="Walking"]

In [22]:
fitness_walk['Average Heart Rate (bpm)'].fillna(110,inplace=True)
fitness_run['Average Heart Rate (bpm)'].fillna(int(avg_run),inplace=True)
fitness_cycle['Average Heart Rate (bpm)'].fillna(int(avg_cycle),inplace=True)

C:\Users\mukes\Anaconda3\lib\site-packages\pandas\core\generic.py:5430: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)

In [23]:
fitness_run.isnull().sum()

Date                        0
Type                        0
Distance (km)               0
Duration                    0
Average Pace                0
Average Speed (km/h)        0
Climb (m)                   0
Average Heart Rate (bpm)    0
dtype: int64

In [24]:
fitness_run_2013_2018=fitness_run.loc['20180101':'20130101']
#runs_subset_2013_2018 = df_run.loc['20190101':'20130101']
fitness_run_2013_2018

Empty DataFrame
Columns: [Date, Type, Distance (km), Duration, Average Pace, Average Speed (km/h), Climb (m), Average Heart Rate (bpm)]
Index: []

In [25]:
#fitness_run_2013_2019.plot(subplots=True,sharex=False,figsize=(12,16),linestyle='none',marker="o",markersize=3)

In [26]:
fitness_run_2015_2019=fitness_run.loc['20180101':'20150101']
fitness_run_2015_2019.head()
#print("Avg run in last 4 year:")
#display(fitness_run_2015_2019.resample('A').mean())

Empty DataFrame
Columns: [Date, Type, Distance (km), Duration, Average Pace, Average Speed (km/h), Climb (m), Average Heart Rate (bpm)]
Index: []